@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.stick {
  position: fixed;
  background-color: white;
  color: black;
  width: 100%;
  z-index: 50;
  transition: background-color 1s;
}

.active {
  position: relative;
  font-weight: bold;
  /* color: rgb(100, 176, 239); */
}

.favorited-article .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 100%;
  left: 0;
}

p {
  margin: 0;
}

a:hover {
  color: inherit;
}

.tag-current {
  background-color: black;
  color: white !important;
  font-weight: bold;
}

.box-comment-option-active {
  display: block;
}
.box-comment-option-hidden {
  display: none;
}

.comment-box::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  background-color: transparent;
}

.comment-box::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.comment-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  height: 30px;
}

@media (max-width: 769px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 70%;
  }
}
